html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: Arial, 宋体, "Helvetica Neue", Helvetica, "Hiragino Sans GB", sans-serif;
}

video, audio {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-phone {
    width: 100%;
    max-width: 480px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before, .row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.col-xs-4, .col-xs-6, .col-xs-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-4 {
    width: 33.33%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-12 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}